.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 2px solid black;
  gap: 15px;
}

.user-name {
  display: flex;
  align-items: center;
  flex: 1;
}

.app-title {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2rem;
  flex: 2;
  text-align: center;
}

.nav {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: flex-end;
}

.header-menu {
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-menu li {
  display: flex;
}

.about-button,
.logout-button {
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: contain;
  cursor: pointer;
  background-color: transparent;
}

.about-button {
  background-image: url("../../assets/svg/about.svg");
}

.logout-button {
  background-image: url("../../assets/svg/logout.svg");
}
