.user-sidebar-container {
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: 5px;
  padding: 5px 0;
}

.user-sidebar-container:hover {
  background-color: #ccc;
}

.user-sidebar-container__status {
  width: 6px;
  height: 6px;
  background-color: red;
  border: 1px solid black;
  border-radius: 50%;
}
.user-sidebar-container__status.logined {
  background-color: #00ff00;
}
.user-sidebar-container__user-message-container {
  display: flex;
  justify-content: space-between;
  flex: 1;
  gap: 5px;
  align-items: center;
}

.user-sidebar-container__name {
  word-break: break-word;
}
.user-sidebar-container__message {
  padding: 1px 4px;
  border-radius: 50%;
  border: 1px solid green;
  font-size: 0.7em;
  display: flex;
  align-items: center;
  height: fit-content;
}
.user-sidebar-container__message.no-message {
  display: none;
}
